.navbar {
  background: #fff;
    /* box-shadow: 0 2px 4px rgba(0,0,0,0.1); */
    padding: 0;
    /* position: fixed;
    top: 0; */
    width: 100%;
    /* z-index: 1000; */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
  }
  
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 1rem;
    height: 64px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
  }
  
  .logo {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .logo img {
    height: 64px;
  }
  
  .logo-text {
    display: flex;
    flex-direction: column;
  }
  
  .logo-text .main-text {
    font-size: 24px;
    font-weight: bold;
    color: #ff0044;
    line-height: 1;
  }
  
  .logo-text .sub-text {
    font-size: 12px;
    color: #666;
  }
  
  .nav-links {
    display: flex;
    gap: 1rem;
    align-items: center;
  }
  
  .nav-links a {
    color: #333;
    font-weight: 500;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .nav-links a:hover {
    background-color: #2e53aa;
    color: #fff !important;
    transition: 0.5s
  }
  
  .nav-links a.active {
    /* color: #4285f4; */
    background-color: #2e53aa;
    color: #fff;
  }
  
  .contact-btn {
    color: rgb(8, 8, 8) !important;
    border-radius: 20px !important;
    padding: 0 20px !important;
    display: flex;
    align-items: center;
    gap: 8px;
  }
  
  .contact-btn mat-icon {
    font-size: 20px;
    height: 20px;
    width: 20px;
  }
  
  .menu-btn {
    display: none;
  }
  .contact-btn:hover{
    background-color: #2e53aa !important;
  color: #fff !important;
  transition: 0.5s
  }
  .contact-btn:active{
    background-color: #2e53aa !important;
  color: #fff !important;
  /* transition: 0.5s */
  }
  
  /* Responsive Design */
  @media (max-width: 960px) {
    .nav-links {
      display: none;
      position: absolute;
      top: 64px;
      left: 0;
      right: 0;
      background: white;
      flex-direction: column;
      padding: 1rem;
      box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    }
  
    .nav-links.show {
      display: flex;
    }
  
    .menu-btn {
      display: block;
    }
  
    .contact-btn {
      display: none;
    }
    
  }
  
  @media (max-width: 480px) {
    .logo-text .sub-text {
      display: none;
    }
  }