<div class="footer-container">
    <div class="footer-content">
      <div class="left-section">
        <div class="logo-container">
        <a routerLink="/">
            <img src="sd M logo white 1.png" alt="SD Hub Logo" class="logo">
        </a>
        </div>
        <p class="mission-text">
          We believe that access to quality education should not be limited by financial constraints, and we strive to level the playing field for all.
        </p>
        <div class="sponsors">
            <a href="https://helpinghandf.org/">
                <img src="hand logo white.png" alt="Helping Hand Foundation Logo" class="HHF-logo">
            </a>
            <a href="https://psfhyd.org/">
                <img src="psf logo w.png" alt="PSF Logo" class="PSF-logo">
            </a>
            <a href="https://seedusa.net/">
                <img src="seed logo white 1.png" alt="SEED Logo" class="SEED-logo">
            </a>
        </div>
      </div>
      
      <div class="right-section">
        <h3>Quick Links</h3>
        <ul>
          <li><a routerLink="/">Home</a></li>
          <li><a routerLink="/aboutus">About Us</a></li>
          <li><a routerLink="/main-course">Courses</a></li>
          <!-- <li><a routerLink="/gallery">Gallery</a></li> -->
          <li><a routerLink="/signup">Registration</a></li>
          <li><a routerLink="/signin">Sign-in</a></li>
        </ul>
      </div>
    </div>
    
  
    <div class="copyright">
      © Managed by Professionals Solidarity Forum. Sponsored by Support for Educational & Economic Development & Helping Hand Foundation.
    </div>
  </div>