<div class="sub-nav">
    <div class="phone-mail">
      <div class="phone">
        <span class="material-icons"> phone </span>
        <p>+91-9146984162</p>
      </div>
      <div class="mail">
        <span class="material-icons"> email </span>
        <p>umarshahba2000gmail.com</p>
      </div>
    </div>
    <div class="nav-icon">
      <a href="#"><img src="./Instagram-logo.png" alt=""></a>
      <a href="#"><img src="./linked1.png" alt=""></a>
    </div>
  </div>
  <app-navbar></app-navbar>

  <div class="main-coures-main">
    <div class="course-h1">
        <h1>Courses</h1>
    </div>
        <div class="course">
            <div class="courses">
                <img src="" alt="">
            </div>
        </div>
  </div>