.main-about{

}
.main-about h2{
    color: #2e53aa;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    margin: 40px 0;
}
.main-about h1{
    text-align: center;
    color: #2e53aa;
    margin-top: 150px;
    font-weight: bold;
}
.dedicate{
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.dedicate-des{
    width: 50%;
    padding: 0 80px;
    color: gray;
}
.dedicate-img{
    width: 50%;
    text-align: end;
}
.dedicate-img img{
    width: 60%;
    /* margin-top: 80px; */
    /* height: 300px; */
    border-radius: 5px;
}
.dedicate-sub{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: auto;
    padding-top: 0 !important;
}
.img{
    width: 50% !important;
}
.img-2{
    width: 50% !important;
}

/* ------------Footer----------------------- */

.footer{
    height: 200px;
    background-color: #2e53aa;
    padding: 50px 100px;
}
.sub{
    display: flex;
    justify-content: center;
}
.footer-sub{
    width: 50%;
    padding: 20px;
}
/* .footer-sub-des{
    width: 50%;
    border: 1px solid;
} */
.footer-sub-des img{
    width: 150px;
}
.footer-sub-des p{
    color: white;
    font-size: 15px;
}
.footer-sub-des h6{
    color: white;
}
.footer-sub-des ul{
    padding-left: 0;
}
.footer-sub-des ul li{
    list-style: none;
}
.footer-sub-des ul li a{
    text-decoration: none;
    color: white;
}
hr{
    opacity: 0.5;
}
.footer p{
    color: white;
    text-align: center;
}