<app-navbar></app-navbar>
<div class="main-about">
    <h1>Dedicated to Your Success</h1>
    <div class="dedicate">
        <div class="dedicate-img">
            <img src="./dedicate1.jpg" alt="">
        </div>
        <div class="dedicate-des">
            <p>Welcome to Skills Development Hub, your premier destination for free job-oriented technology training
                programs. At Skills Development Hub, we are dedicated to empowering individuals with the skills and
                knowledge they need to succeed in today’s fast-paced and technology-driven world.</p>
            <p>Managed by Professionals Solidarity Forum (PSF) and supported by Helping Hand Foundation (HHF), we strive
                to make quality education accessible to all. Our skills development centre is committed to provide
                high-quality, hands-on training in various technology-related fields + softskills and language skills,
                helping learners acquire the skills necessary to secure employment and thrive in their careers.</p>
            <p>With a team of experienced instructors and a curriculum designed to meet industry standards, Skills
                Development Hub offers a dynamic learning environment where students can develop their talents and
                unleash their full potential. Whether you’re a beginner looking to kickstart your career in tech or a
                seasoned professional seeking to upgrade your skills, we have programs tailored to suit your needs.</p>
        </div>
    </div>
    <h2>MANAGED BY</h2>
    <div class="dedicate-sub">
        <div class="dedicate-img">
            <img class="img" src="./managed.png" alt="">
        </div>
        <div class="dedicate-des">
            <h3>PSF – Professionals Solidarity Foundation</h3>
            <p>PSF’s vision is to empower professionals to use their skills, time, and creativity to bring a positive
                change in self and society. Committed to addressing the needs of seasoned professionals and fresh
                graduates alike, PSF offers top-tier, industry-specific training and comprehensive job and career
                guidance. Our mission is to support professionals in achieving excellence not only in their careers but
                also in their personal well-being, fostering a community where growth and positive impact are paramount.
            </p>
        </div>
    </div>
    <h2>SPONSERED BY</h2>
    <div class="dedicate-sub">
        <div class="dedicate-img">
            <img class="img-2" src="./Seed_Logo3.png" alt="">
        </div>
        <div class="dedicate-des">
            <h3>SEED-Support for Education and Economic Development</h3>
            <p>SEED-Support for Education and Economic Development; is a USA based Charity Organization formed solely to
                help improve the quality of life for the under-privileged in India by providing the best Educational and
                Economical opportunities. Elevate the quality of their lives by providing optimum Medical Care, Quality
                Education & Hands-on Technical Skills trainings, and providing other prospects to improve the literacy
                status.</p>
        </div>
    </div>
    <h2>SUPPORTED BY</h2>
    <div class="dedicate-sub">
        <div class="dedicate-img">
            <img class="img" src="./helping.png" alt="">
        </div>
        <div class="dedicate-des">
            <h3>Helping Hand Foundation</h3>
            <p>About HHF (Helping Hand Foundation): <br>
                Helping Hand Foundation is one of few organizations that’s working tirelessly with weaker sections, in
                bridging health inequity through its various programs and interventions. It was launched by a likeminded
                team of Hyderabad-based IT professionals with the aim and intent of to facilitate accessible and
                affordable healthcare to the disadvantaged sections of the society.</p>
        </div>
    </div>

    <div class="footer">
        <div class="sub">
          <div class="footer-sub">
            <div class="footer-sub-des">
              <img src="./sd-hub-white.png" alt="" />
              <p>
                We believe that access to quality education should not be limited by
                financial constraints, and we strive to level the playing field for
                all.
              </p>
            </div>
          </div>
          <div class="footer-sub">
            <div class="footer-sub-des">
              <h6>Quick Links</h6>
              <ul>
                <li><a href="./home">Home</a></li>
                <li><a href="./about-us">AboutUS</a></li>
                <li><a href="#">Courses</a></li>
              </ul>
            </div>
          </div>
        </div>
        <hr />
        <p>
          © Managed by Professionals Solidarity Forum. Sponsored by Support for
          Educational & Economic Development & Helping Hands Foundation.
        </p>
      </div>

</div>