<div class="sub-nav">
    <div class="phone-mail">
      <div class="phone">
        <span class="material-icons"> phone </span>
        <p><a href="tel:+919550125050">+91 955-012-5050</a></p>
      </div>
      <div class="mail">
        <span class="material-icons"> email </span>
        <p><a href="mailto:info@sdhub.in">info&#64;sdhub.in</a></p>
      </div>
    </div>
    <div class="nav-icon">
      <a href="https://www.instagram.com/sdhubhyd/"><img src="./Instagram-logo.png" alt="Instagram-logo" target="_blank"></a>
      <a href="https://in.linkedin.com/company/sd-hub"><img src="./linked1.png" alt="linkedin-logo" target="_blank"></a>
      <a href="https://www.facebook.com/people/Skills-Development-Hub/61565467437406/"><img src="./facebook logo.png" alt="facebook-logo" target="_blank"></a>

    </div>
  </div>
