    <div class="gallery-grid">
        <!-- <div class="gallery-item"><img src="gallery (1).jpg" alt="Gallery image"></div>
        <div class="gallery-item"><img src="gallery (2).jpg" alt="Gallery image"></div>
        <div class="gallery-item"><img src="gallery (3).jpg" alt="Gallery image"></div>
        <div class="gallery-item"><img src="gallery (4).jpg" alt="Gallery image"></div>
        <div class="gallery-item"><img src="gallery (5).jpg" alt="Gallery image"></div>
        <div class="gallery-item"><img src="gallery (6).jpg" alt="Gallery image"></div>
        <div class="gallery-item"><img src="gallery (7).jpg" alt="Gallery image"></div>
        <div class="gallery-item"><img src="gallery (8).jpg" alt="Gallery image"></div>
        <div class="gallery-item"><img src="gallery (9).jpg" alt="Gallery image"></div> -->
        <!-- <div class="gallery-item"><img src="gallery (10).jpg" alt="Gallery image"></div> -->
        <div class="gallery-item"><img src="gallery (11).jpg" alt="Gallery image"></div>
        <div class="gallery-item"><img src="gallery (12).jpg" alt="Gallery image"></div>
        <div class="gallery-item"><img src="gallery (13).jpg" alt="Gallery image"></div>
        <!-- <div class="gallery-item"><img src="gallery (14).jpg" alt="Gallery image"></div>
        <div class="gallery-item"><img src="gallery (15).jpg" alt="Gallery image"></div> -->
        <div class="gallery-item"><img src="gallery (16).jpg" alt="Gallery image"></div>
        <div class="gallery-item"><img src="gallery (17).jpg" alt="Gallery image"></div>
        <div class="gallery-item"><img src="gallery (18).jpg" alt="Gallery image"></div>
        <div class="gallery-item"><img src="gallery (19).jpg" alt="Gallery image"></div>
        <div class="gallery-item"><img src="gallery (20).jpg" alt="Gallery image"></div>
        <div class="gallery-item"><img src="gallery (21).jpg" alt="Gallery image"></div>
        <div class="gallery-item"><img src="gallery (22).jpg" alt="Gallery image"></div>
    </div>

    <a href="/more-gallery" class="btn">View More</a>
