<app-banner></app-banner>
<app-navbar></app-navbar>
<div class="main">
  <div class="bg_img">
    <div class="dark-overlay"></div>
    <div class="contain">
      <h2>Empowering Individuals</h2>
      <h1>To Build Careers</h1>
      <p>
        Our ultimate goal is to equip individuals not only in core domain <br />
        skills but also softskills and language training to thrive in the <br />
        competitive job market.
      </p>
      <a routerLink="/contact">Contact Us</a>
    </div>
  </div>

  <div class="training-prog">
    <div class="training-prog-des">
      <h2>Delivering Job oriented Training Programs</h2>
      <p>
        At SD Hub, we offer a wide range of job-oriented training programs.
        Whether you are interested in coding, software development, <br />
        digital marketing, Web Development, etc.. we have a program that suits
        your profile and interest.
      </p>
    </div>
    <div class="training-prog-sub">
      <div class="technologies">
        <div class="img">
          <img src="./Tally-logo.png" alt="" />
        </div>
        <p>TALLY</p>
      </div>
      <div class="technologies">
        <div class="img">
          <img src="./angular.png" alt="" />
        </div>
        <p>ANGULAR</p>
      </div>
      <div class="technologies">
        <div class="img">
          <img src="./mongo-db.png" alt="" />
        </div>
        <P>MONGO DB</P>
      </div>
      <div class="technologies">
        <div class="img">
          <img src="./css.png" alt="" />
        </div>
        <P>CSS3</P>
      </div>
      <div class="technologies">
        <div class="img">
          <img src="./html.png" class="html-img" alt="" />
        </div>
        <P>HTML5</P>
      </div>
      <div class="technologies">
        <div class="img">
          <img src="./js.png" alt="" />
        </div>
        <P>JAVASCRIPT</P>
      </div>
      <div class="technologies">
        <div class="img">
          <img src="./python1.png" alt="" />
        </div>
        <P>PYTHON</P>
      </div>
      <div class="technologies">
        <div class="img">
          <img src="./node.png" alt="" />
        </div>
        <P>NODE JS</P>
      </div>
      <div class="technologies">
        <div class="img">
          <img src="./ts.png" alt="" />
        </div>
        <P>TYPE SCRIPT</P>
      </div>
      <div class="technologies">
        <div class="img">
          <img src="./sql1.png" alt="" />
        </div>
        <P>SQL</P>
      </div>
      <div class="technologies">
        <div class="img">
          <img src="./power-bi.png" alt="" />
        </div>
        <P>POWER BI</P>
      </div>
      <div class="technologies">
        <div class="img">
          <img src="./excel1.png" alt="" />
        </div>
        <P>EXCEL</P>
      </div>
      <div class="technologies">
        <div class="img">
          <img src="./express-js.png" alt="" />
        </div>
        <P>EXPRESS JS</P>
      </div>
      <div class="technologies">
        <div class="img">
          <img src="./wordpress.png" alt="" />
        </div>
        <P>WORDPRESS</P>
      </div>
    </div>
  </div>

  <div class="what-we-do">
    <h3>WHAT WE DO</h3>
    <div class="what-we-do-sub">
      <div class="what-we-do-1">
        <h4>
          Training Solutions <br />
          Tailored to Industry
        </h4>
        <p>
          If you are confused about career choices, our career guidance
          counselor will make it easy for you to understand and take informed
          decisions.
        </p>
        <p>
          Our courses are designed to be comprehensive, practical, and hands-on,
          ensuring that our participants graduate with the skills and confidence
          to excel in their chosen field.
        </p>
      </div>

      <div class="what-we-do-2">
        <div class="we-do">
          <img src="./bell.png" alt="" />
          <h4>Job Oriented Training</h4>
          <p>
            Elevate your career prospects with our comprehensive,
            industry-focused training programs at SD HUB, designed to equip you
            with the skills demanded by employers.
          </p>
        </div>
        <div class="we-do">
          <img src="./4.png" alt="" />
          <h4>Career Counselling</h4>
          <p>
            Navigate your career path confidently with personalized guidance
            from our experienced career counselors, ensuring informed decisions
            and successful outcomes.
          </p>
        </div>
        <div class="we-do">
          <img src="./5.png" alt="" />
          <h4>Interview Clinics</h4>
          <p>
            Sharpen your interview skills and boost your confidence with our
            specialized interview clinics, preparing you to ace your next job
            interview with ease.
          </p>
        </div>
        <div class="we-do">
          <img src="./6.png" alt="" />
          <h4>Soft skills training</h4>
          <p>
            Develop essential soft skills vital for professional success, such
            as communication, teamwork, and leadership, through our tailored
            training modules at SD HUB.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="gallery">
  <h3>GALLERY</h3>
<app-gallery></app-gallery>
</div>

<app-footer></app-footer>
<app-chat-widget></app-chat-widget>